@import "custom";
@import "bootstrap";

html,
body {
  height: 100%;
  width: 100%;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

.selected {
  background-color: $lambster-blue;
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.selected:hover {
  background-color: $lambster-dark;
}

.shaded:focus {
  background-color: #f3f3f3;
}

.panel-font-size {
  font-size: 0.8em;
}

#logo {
  width: 75px;
  height: 75px;
}

@media only screen and (max-width: 600px) {
  #logo {
    width: 90px;
    height: 90px;
  }
}
