@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --console-width: 90vw;
  --rounded-border-value: 30px;
  --logo-height: 10vh;
}

* {
  box-sizing: border-box;
}

/* Element and high-level style */

body {
  margin: 0;
  background-color: #1f1f1f;
}

header {
  display: flex;
}

#root {
  height: 100%;
}

/* Header/Header Text style */

#text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#lambster-text {
  text-align: center;
  font-family: "Jetbrains Mono", monospace;
  color: #ffffff;
  font-size: calc(var(--logo-height) / 4);
}

#subheader {
  text-align: center;
  color: white;
  font-family: sans-serif, arial;
  font-size: calc(var(--logo-height) / 10);
}

.logo-sizing {
  aspect-ratio: 1/1;
  height: var(--logo-height);
}

/* Console style */

#console-screen {
  width: var(--console-width);
  aspect-ratio: 2.37/1;
  background-color: #050505;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  margin-top: 5vh;
}

#console-text {
}

hr {
  height: 5px;
  width: calc(var(--console-width) * 0.85);
  background-color: #aaaaaa;
  border-radius: var(--rounded-border-value);
}

#user-input-bar {
  width: var(--console-width);
  border-radius: var(--rounded-border-value);
  border-color: #505050;
  background-color: #050505;
  color: white;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
